@use "/src/styles/partials/_variables.scss" as *;
@use "/src/styles/partials/_mixins.scss" as *;

#contact {
  padding: 2rem 1rem;

  @include tablet {
    padding: 2rem 2rem;
  }

  .contact {
    &__container {
      @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        direction: rtl;
      }
    }
    &__text {
      text-align: center;
      margin: 0 10%;
      direction: ltr;
    }
    &__icons-text {
      @include tablet {
        display: flex;
        justify-content: center;
        flex-direction: column;
        direction: ltr;
      }
    }
  }
  .contact__icons {
    width: 2rem;

    @include tablet {
      width: 3.5rem;
    }

    &:hover {
      transform: translateY(-5px);
      transition: transform 0.3s ease;
    }

    

    &-container {
      @include flex-center;
      justify-content: space-evenly;
      margin: 1rem;
    }
  }

  .contact__image-alexandria {
    width: 50%;
    border-radius: 50%;
    margin: 1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    @include tablet {
      width: 70%;
    }

    &--center {
      @include flex-center;
    }
  }
}
