@use "/src/styles/partials/_variables.scss" as *;

.projects__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}

.project__container {
  border: 2px solid $colour-secondary-light-accent;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;

  &.active {
    background-color: $colour-primary-dark;
  }

  &-details {
    margin-top: 1rem;

    ul {
      padding-left: 1.5rem;
    }

    .project__video {
      width: 100%;
      height: auto;
      margin-top: 1rem;
      border-radius: 8px;
      border: 2px solid $colour-secondary-light-accent;
    }
  }
}
