//NotoSans
@font-face {
    font-family: "NotoSans";
    src: url("/src/assets/font/NotoSans.woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "NotoSans";
    src: url("/src/assets/font/NotoSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
  }