@use "./font" as *;
@use "./mixins" as *;
@use "./variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  @include font-body-header;
  margin-bottom: 1rem;
  @include tablet {
    @include font-body-header-tablet
  }
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  @include flex-center;
  @include font-body-header;

  @include tablet {
    @include font-body-header-tablet;
  }
  
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -0.4rem;
    transform: translateX(-50%);
    width: 10%;
    height: 3px;
    background-color: $colour-secondary-medium;
  }
}

h3 {
  margin: 2rem 0;
  @include font-body-subheader;
  @include flex-center;

  @include tablet {
    @include font-body-subheader-tablet;
  }
}

h4 {
  @include font-body-subheader;
  font-size: 1rem;
  padding: .5rem 0;
}

p,
a,
ul {
  @include font-body;
  line-height: 1.5rem;

  @include tablet {
    @include font-body-tablet
  }
}
