@use "./font" as *;
@use "./mixins" as *;
@use "./variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  @include font-body-header
}

h2 {
  @include font-body-header; 
  font-size: 1.5rem;
}

h3 {
  @include font-body-header; 
  font-size: 1rem;
}

p , a {
  @include font-body
}