@use "./font" as *;

//Breakpoints
@mixin tablet {
  @media (min-width: 48rem) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 80rem) {
    @content;
  }
}

//Fonts
@mixin font-body {
  font-family: "NotoSans";
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
}
@mixin font-body-header {
  font-family: "NotoSans";
  font-size: 2rem;
  font-weight: 700;
}