$colour-primary-dark: #000000;

$colour-primary-light: #ffffff;

$colour-secondary-dark: #112D17;

$colour-secondary-medium: #1D712E;

$colour-secondary-light-accent: #C1C0BB;

$colour-secondary-light-accent-two: #F1F1F1;