@use "/src/styles/partials/_global.scss" as *;
@use "/src/styles/partials/_mixins.scss" as *;
@use "/src/styles/partials/_variables.scss" as *;

.hero {
  text-align: center;
  padding: 5rem 1rem;
  color: $colour-primary-dark;
  transition: background-color 0.3s, color 0.3s;
  height: auto;

  .highlight {
    color: $colour-secondary-medium;
    font-weight: bold;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;

    button {
      padding: 0.75rem 1rem;
      border: none;
      border-radius: 4px;
      background-color: $colour-secondary-medium;
      color: $colour-primary-light;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      @include font-body;

      &.outline {
        background-color: transparent;
        border: 2px solid $colour-secondary-medium;
        color: $colour-secondary-medium;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }

  &__image-alexandria {
    width: 50%;
    border-radius: 50%;
    margin: 1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.dark .hero {
  background-color: $colour-primary-dark;
  color: $colour-primary-light;

  button {
    background-color: $colour-secondary-medium;

    &.outline {
      border-color: $colour-secondary-medium;
      color: $colour-primary-light;
    }
  }
}
