.nav-bar {
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    cursor: pointer;
    display: flex;

    &-about {
        padding-right: 1rem;
    }

    &-contact {
      display: flex;
      cursor: pointer;
    }
  }
}
