@use "/src/styles/partials/_global.scss" as *;
@use "/src/styles/partials/_mixins.scss" as *;
@use "/src/styles/partials/_variables.scss" as *;

.nav-bar__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  @include tablet {
    padding: 2rem 3rem;
  }

  &.scrolled {
    background-color: $colour-primary-light;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    .dark & {
      background-color: $colour-primary-dark;
    }
  }
}

.nav-bar__left {
  .nav-bar__logo {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    color: $colour-primary-dark;
    @include font-body-subheader;

    @include tablet {
      @include font-body-subheader-tablet;
    }

    .highlight {
      color: $colour-secondary-medium;
    }

    .dark & {
      color: $colour-primary-light;
    }
  }
}

.nav-bar__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-bar__links {
  display: flex;
  gap: 2rem;

  p {
    cursor: pointer;
    font-weight: 500;
    color: $colour-secondary-light-accent;
    transition: color 0.3s ease;

    &:hover {
      color: $colour-secondary-medium;
    }

    .dark & {
      color: $colour-secondary-light-accent;

      &:hover {
        color: $colour-secondary-medium;
      }
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.nav-bar__theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  color: $colour-secondary-light-accent;
  display: flex;
  align-items: center;

  .dark & {
    color: $colour-secondary-light-accent;
  }

  &:hover {
    color: $colour-secondary-medium;
  }
}

.nav-bar__menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;

  color: $colour-secondary-light-accent;

  .dark & {
    color: $colour-secondary-light-accent;
  }

  @include tablet {
    display: none;
  }
}

.nav-bar__mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $colour-primary-light;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .dark & {
    background-color: $colour-primary-dark;
  }

  p {
    margin-bottom: 1rem;
    font-weight: 500;
    color: $colour-secondary-light-accent;
    cursor: pointer;

    &:hover {
      color: $colour-secondary-medium;
    }

    .dark & {
      color: $colour-secondary-light-accent;

      &:hover {
        color: $colour-secondary-medium;
      }
    }
  }
}


