@use "/src/styles/partials/_variables.scss" as *;
@use "/src/styles/partials/_mixins.scss" as *;

.footer__text {
    color: $colour-secondary-light-accent;
    margin-top: 2rem;
    @include flex-center;
    @include font-body;

    @include tablet {
        @include font-body-tablet;
        margin-top: 4rem;
    }
}